/*	Goblinsama-PHP Library
	https://bitbucket.org/goblinsama/goblinsama-php
	
	© 2016-2019 Goblinsama Ltd. <goblinsama+src@goblinsama.com> https://goblinsama.com
	
	This source code is subject to the terms of the Microsoft Public License (MS-PL).
	
	Redistribution and use in source and binary forms, with or without modification,
	is permitted provided that redistributions of the source code retain the above
	copyright notices and this file header.
	
	For details, see LICENSE file, or visit http://www.opensource.org/licenses/ms-pl.html
	
	All other rights reserved.
*/

:root {
	--title1:  rgb( 220, 220, 220 );
	--line1:   rgb( 190, 190, 230 );
	--line2:   rgb( 170, 170, 210 );
	--better1: rgb( 190, 230, 190 );
	--better2: rgb( 170, 210, 170 );
	--worse1:  rgb( 230, 190, 190 );
	--worse2:  rgb( 210, 170, 170 );
	--hi1:     rgb( 210, 250, 210 );
	--hi2:     rgb( 200, 240, 200 );
}

/* Alerts */

.alert-primary,
.alert-secondary,
.alert-success,
.alert-info,
.alert-warning,
.alert-danger,
.alert-light,
.alert-dark {
	background-color: inherit;
}

.alert-primary {
	background-image: linear-gradient(to bottom, hsla( 211, 100%,  90%, .80 ), hsla( 211, 100%,  75%, .80 ) ) !important;
}
.alert-secondary {
	background-image: linear-gradient(to bottom, hsla( 200,   5%,  89%, .80 ), hsla( 200,   5%,  74%, .80 ) ) !important;
}
.alert-success {
	background-image: linear-gradient(to bottom, hsla( 134,  41%,  88%, .80 ), hsla( 134,  41%,  73%, .80 ) ) !important;
}
.alert-danger {
	background-image: linear-gradient(to bottom, hsla( 355,  70%,  91%, .80 ), hsla( 355,  70%,  76%, .80 ) ) !important;
}
.alert-warning {
	background-image: linear-gradient(to bottom, hsla(  46, 100%,  90%, .85 ), hsla(  46, 100%,  75%, .85 ) ) !important;
}
.alert-info {
	background-image: linear-gradient(to bottom, hsla( 189,  53%,  88%, .80 ), hsla( 189,  53%,  73%, .80 ) ) !important;
}
.alert-light {
	background-image: linear-gradient(to bottom, hsla(   0,   0%, 100%, .80 ), hsla(   0,   0%,  85%, .80 ) ) !important;
}
.alert-dark {
	background-image: linear-gradient(to bottom, hsla( 200,   4%,  85%, .80 ), hsla( 200,   4%,  70%, .80 ) ) !important;
}

.alert-success.trans {
	background-image: linear-gradient(to bottom, rgba(223,240,216,.65), rgba(200,229,188,.65));
	background-color: inherit;
	color: hsl(120, 33%, 25%);
}
.alert-info.trans {
	background-image: linear-gradient(to bottom, rgba(217,237,247,.65), rgba(185,222,240,.65));
	background-color: inherit;
	color: hsl(200, 48%, 25%);
}
.alert-warning.trans {
	background-image: linear-gradient(to bottom, rgba(252,248,227,.65), rgba(248,239,192,.65));
	background-color: inherit;
	color: hsl(39, 40%, 25%);
}

/* * */

div.footer {
	font-size: 10px;
}
div.footer div.privacy {
	text-align: center;
}

table.std {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: white;
}
table.std th,
table.std td {
	border: 1px solid black;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
}
table.std tr:nth-child(odd) > td {
	background-color: var(--line1);
}
table.std tr:nth-child(even) > td {
	background-color: var(--line2);
}
table.std tr.alt0 > td {
	background-color: var(--line1);
}
table.std tr.alt1 > td {
	background-color: var(--line2);
}
table.std tr:nth-child(odd) > td.better {
	background-color: var(--better1);
}
table.std tr:nth-child(even) > td.better {
	background-color: var(--better2);
}
table.std tr:nth-child(odd) > td.worse {
	background-color: var(--worse1);
}
table.std tr:nth-child(even) > td.worse {
	background-color: var(--worse2);
}
table.std tr.hi:nth-child(odd) > td {
	background-color: var(--hi1);
}
table.std tr.hi:nth-child(even) > td {
	background-color: var(--hi2);
}
table.std tr > th,
table.std tr > td.title,
table.std tr.title > td {
	background-color: var(--title1);
	text-align: center;
}

table.std th.nobb,
table.std td.nobb,
table.std th.nolb,
table.std td.nolb {
	border-left: 0;
}
table.std th.nobb,
table.std td.nobb,
table.std th.norb,
table.std td.norb {
	border-right: 0;
}
table.std td.nob_t {
	border-top: 0;
}
table.std td.nob_b {
	border-bottom: 0;
}

table tr.blank th,
table tr.blank td,
table th.blank,
table td.blank {
	background-color: rgba(0,0,0,0) !important;
	border: 0;
}

table.borderless th,
table.borderless td {
	border: 0;
}
.alert.alert-info table.borderless {
	color: #0c5460;
}

table.plr th:not(:first-child),
table.plr td:not(:first-child) {
	padding-left: .35em;
}
table.plr th:not(:last-child),
table.plr td:not(:last-child) {
	padding-right: .35em;
}

.left {
	text-align: left !important;
}
.center {
	text-align: center !important;
}
.jcenter {
	justify-content: center !important;
}
.justify {
	text-align: justify !important;
}
.right {
	text-align: right !important;
}
.top {
	vertical-align: top !important;
}
.middle {
	vertical-align: middle !important;
}
.bottom {
	vertical-align: bottom !important;
}
.i {
	font-style: italic;
}
.hidden {
	display: none;
}
.big {
	font-size: large;
}
.small {
	font-size: small;
}
.b {
	font-weight: bold;
}
.u {
	text-decoration: underline;
}
.fixed {
	font-family: monospace;
	font-size: 1.1em;
}
.fixed.small {
	font-size: 0.85em;
}
sup {
	font-size: .8em;
}
sup.fixed {
	font-size: .9em;
}
.nw {
	white-space: nowrap;
}
.inline {
	display: inline-block;
}
.mcenter,
.mleft {
	margin-right: auto;
}
.mcenter,
.mright {
	margin-left: auto;
}
.mbig {
	font-size: 1.35em;
}
.upper {
	text-transform: uppercase;
}

/* * */
